language: minimal

services: docker

env:
  - DOCKER_COMPOSE_VERSION=1.23.2

before_install:
  - docker -v && docker-compose -v
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl



install:
  - docker-compose -f udacity-c3-deployment/docker/docker-compose-build.yaml build --parallel
  - docker tag mzucc/reverseproxy mzucc/reverseproxy:v0.0.$TRAVIS_BUILD_NUMBER 
  - docker tag mzucc/udacity-restapi-user mzucc/udacity-restapi-user:v0.0.$TRAVIS_BUILD_NUMBER 
  - docker tag mzucc/udacity-restapi-feed mzucc/udacity-restapi-feed:v0.0.$TRAVIS_BUILD_NUMBER 
  - docker tag mzucc/udacity-frontend mzucc/udacity-frontend:v0.0.$TRAVIS_BUILD_NUMBER 

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push mzucc/reverseproxy
  - docker push mzucc/udacity-restapi-user
  - docker push mzucc/udacity-restapi-feed
  - docker push mzucc/udacity-frontend:local
  


